<!doctype html>
<html>
    <head>
        <title>projets</title>
        <% include ../layout %>
		<style>
			#MainMenu{
				width:100%;
			}
			table{
				font-size:14px;
			}
			 .valide{
				color:white;
				background-color: #28A745;
			 }
			 .nonValide{
				color:white;
				background-color: #DC3545;
			 }
			 .valide:hover{
				background-color: #218838;
			 }
			 .nonValide:hover{
				background-color: #C82333;
			 }
		</style>
    </head>
    <body>
		<div class="wrapper">
			<% include ../Menus/MenuEnseignant %>
			<!-- Page Content  -->
			<div id="content">
				<div class="container">
				<% if(matieres.length != 0) { %>
					<span class="pull-left"><a class="btn btn-success btn-lg" href="/<%= chemin %>create" role="button"><span class="glyphicon glyphicon-plus"></span></a></span>
				<% } %>
				<span class="pull-left"><h1 class="pull-left">Vos projets </h1></span>
				</div>
				<div class="container">
					<div class="list-group panel">
						<% if(matieres.length==0) { %>
							<div class="list-group-item">
								<div class="container">
									<div class="col-md-12">
										<div>Attention il n'y a plus de matieres enregistrés. Veuillez Créer des matieres pour créer des projets</div>
									</div>
								</div>
							</div>
						<% } %>
						
						<ul class="nav nav-tabs">
							<% for(var i=0; i<=promos.length-1; i++) { %>
								<li  <% if(i == 1){ %>class="active"<% } %> ><a href="#<%= promos[i].nomP %>" data-toggle="tab" ><%= promos[i].nomP %></a></li>
							<% } %>
						</ul>
						<!-- ************************************************************** -->					
						<div class="tab-content">
							<% for(var i=0; i<=promos.length-1; i++) { %>
								<div id="<%= promos[i].nomP %>" class="tab-pane fade in  <% if(i == 1){ %>class="active"<% } %>" >		
									<% if (matieres.length !=0) { %>
										<% for(var j=0; j<=matieres.length-1; j++) {%>
											<% if(matieres[j].promotionM == promos[i].idP) {%>
												<a href="#matiere<%=matieres[j].nomM.replace(/ /g, "")+matieres[j].nomP %>" class="list-group-item " data-toggle="collapse" data-parent="#MainMenu"><strong><%= matieres[j].nomM %>&nbsp;&nbsp;&nbsp;&nbsp;(<small><%=(matieres[j].nomP)%>)</small></strong></a>
												<div class="collapse" id="matiere<%=matieres[j].nomM.replace(/ /g, "")+matieres[j].nomP  %>">
													<% if(projets.length !=0) { %>
														<% var numProjet = 0;%>
														<!-- ********************************************************************************** -->
														<!-- ********************************************************************************** -->
														<div class="container">
															<span class="pull-left"><h1 class="pull-left">projets étudiant:</h1></span>
														</div>	
														<div class="row">
															<% for(var k=0; k<=projets.length-1; k++) { %>
																<% if(matieres[j].idM == projets[k].matiereProjet){%>
																	<% if(projets[k].initiativeEtudianteProjet==1) {%>
																		<div class="col-md-4">
																			<div class="card mb-4 shadow-lg" style="background-color: rgb(63,63,63); color:white;">
																				<img class="card-img-top" src="/files/team_work_image2.jpg" alt="Card image cap">
																				<div class="card-body">
																					<h2><%=projets[k].nomProjet %> </h2>
																					<a href="/<%= chemin %>" onclick="confirmBeforeDelete('<%= projets[k].idProjet %>', '<%= chemin %>')" class="btn btn-lg btn-danger" type="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
																					<p class="card-text"><%=projets[k].descriptionProjet %></p>
																					<% fonctionnaliteProjet = projets[k].fonctionnaliteProjet %>
																					<p class="card-text">Fonctionnalités : <%= fonctionnaliteProjet %></p>
																					<p class="card-text">Membre :</br>
																					<% for(var l=0; l<=etudiants.length-1; l++) { %>
																						<% if(etudiants[l].id == projets[k].etudiantG){%>
																							<%= etudiants[l].nomU + " " + etudiants[l].prenomU %></br>
																						<%}%>
																					<%}%>
																					</p>
																					<small class="text-muted">9 mins</small>
																					<div class="d-flex justify-content-between align-items-center">
																						<div class="btn-group btn-group-lg" style="width:100%;">
																						<% if(projets[k].statutProjet==1) {%>
																							<!-- <button type="button" class="btn btn-lg btn-warning" style="width:100%;">Editer</button> -->
																							<button onclick="location.href='/<%= chemin %><%= projets[k].idProjet %>'" class="btn btn-lg btn-warning" style="width:100%;" type="button"><span class="glyphicon glyphicon-edit"></span> Editer</button>
																					
																						<%}else{%>
																							<a href="/<%= chemin %>" onclick="validate('<%= projets[k].idProjet %>', '<%= chemin %>')" class="btn btn-success"  style="width:50%;" type="button"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i> Valider</a>
																							<button type="button" class="btn btn-danger" style="width:50%;"><span class="glyphicon glyphicon-remove"></span> Rejeter</button>
																						<%}%>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	<%}%>
																<%}%>
															<%}%>
														</div>
														<div class="container">
															<span class="pull-left"><h1 class="pull-left">projets enseignant : </h1></span>
														</div>
														<div class="row">
															<% for(var k=0; k<=projets.length-1; k++) { %>
																<% if(matieres[j].idM == projets[k].matiereProjet){%>
																	<% if(projets[k].initiativeEtudianteProjet==0) {%>
																		<div class="col-md-4">
																			<div class="card mb-4 shadow-lg" style="background-color: rgb(63,63,63); color:white;">
																				<img class="card-img-top" src="/files/team_work_image2.jpg" alt="Card image cap">
																				<div class="card-body">
																					<h2><%=projets[k].nomProjet %></h2>
																					<a href="/<%= chemin %>" onclick="confirmBeforeDelete('<%= projets[k].idProjet %>', '<%= chemin %>')" class="btn btn-lg btn-danger" type="button"><i class="fa fa-trash" aria-hidden="true"></i></a>
																					<p class="card-text"><%=projets[k].descriptionProjet %></p>
																					<% fonctionnaliteProjet = projets[k].fonctionnaliteProjet.replace(/<br[^>]*>/gi, "\n"); %>
																					<p class="card-text">Fonctionnalités : <%= fonctionnaliteProjet %></p>
																					<p class="card-text">Membre :</br>
																					<% for(var l=0; l<=etudiants.length-1; l++) { %>
																						<% if(etudiants[l].groupeU == projets[k].idG){%>
																							<%= etudiants[l].nomU + " " + etudiants[l].prenomU %></br>
																						<%}%>
																					<%}%>
																					</p>
																					<small class="text-muted">9 mins</small>
																					<div class="d-flex justify-content-between align-items-center">
																						<div class="btn-group btn-group-lg" style="width:100%;">
																						<% if(projets[k].statutProjet==1) {%>
																							<button onclick="location.href='/<%= chemin %><%= projets[k].idProjet %>'" class="btn btn-lg btn-warning" style="width:100%;" type="button"><span class="glyphicon glyphicon-edit"></span> Editer</button>
																						<%}else{%>
																							<a href="/<%= chemin %>" onclick="validate('<%= projets[k].idProjet %>', '<%= chemin %>')" class="btn btn-success"  style="width:50%;" type="button"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i> Valider</a>
																							<button type="button" class="btn btn-danger" style="width:50%;"><span class="glyphicon glyphicon-remove"></span> Rejeter</button>
																						<%}%>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	<%}%>
																<%}%>
															<%}%>
														</div>
														<div class="container">
															<span class="pull-left"><h1 class="pull-left">Synthèse projet :</h1></span>
														</div>	
														<div class="container" id="MainMenu">
															<table class="table table-hover table-dark">
																<thead>
																	<tr>
																		<th class="align-middle" style="text-align: center" scope="col">Projet</th>
																		<th scope="col">Etudiants</th>
																		<th scope="col">Projet</th>
																		<th style="text-align: center" scope="col">Statut</th>
																	</tr>
																</thead>
																<tbody>
																		<% for(var k=0; k<=projets.length-1; k++) { %>
																			<% if(matieres[j].idM == projets[k].matiereProjet){%>
																				<% numProjet++;%>
																				<tr>
																					<th class="align-middle" style="text-align: center" scope="row"><%= numProjet %></th>
																					<td class="align-middle">
																					<% for(var l=0; l<=etudiants.length-1; l++) { %>
																						<% if(etudiants[l].groupeU == projets[k].idG){%>
																							<%= etudiants[l].nomU + " " + etudiants[l].prenomU %></br>
																						<%}%>
																					<%}%>
																					</td>
																					<td class="align-middle"><%= projets[k].nomProjet %></td>
																					<% if(projets[k].statutProjet == 0){%>
																						<td class="align-middle nonValide" style="text-align: center"><strong><%= projets[k].statutProjet %></strong></td>
																					<%} else {%>
																						<td class="align-middle valide" style="text-align: center"><strong><%= projets[k].statutProjet %></strong></td>
																					<%}%>
																				</tr>
																			<%}%>
																		<%}%>
																</tbody>
															</table>
														</div>
														<!-- ********************************************************************************** -->
														<!-- ********************************************************************************** -->
													<% }%>
													<% if(projets.length == 0) { %>
														<div class="list-group-item">
															<div class="container">
																<div class="col-md-9">
																	<div>Il n'y a pas de projet pour cette matière.</div>
																</div>
															</div>
														</div>
													<% } %>
												</div>
											<%}%>
										<% } %>
									<% } %>
								</div>
							<% } %>
						</div>
						<!-- ************************************************************** -->              
					</div>
				</div>
			</div>
		</div>
    </body>
</html>